// Element colors
$color-non-metals: #c2e812;
$color-alkali-metals: lighten(#632A50, 20%);
$color-alkali-earth-metals: #8B9EB7;
$color-transition-metals: #745296;
$color-other-metals: #91F5AD;
$color-post-transition-metals: #86BBD8;
$color-metalloids: #33658A;
$color-noble-gas: #F26419;


// Black, White and Greys
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;