<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel = "stylesheet" href = "/css/style.css">
    </head>
    <body>
        <div class="container__overlay hidden"></div>
        <div class="container">

            <div class="row height__full">
                <!-- IA -->
                <div class="col-1-of-18 height__large">
                    <h5 class="family">IA</h5>
                    <div class="element element--non_metals">
                        <span class = "element__atomic__number">1</span>
                        <span class = "element__symbol">H</span>
                        <span class = "element__atomic__weight">1.008</span>
                    </div>
                    <div class="element element--alkali_metals">
                        <span class = "element__atomic__number">3</span>
                        <span class = "element__symbol">Li</span>
                        <span class = "element__atomic__weight">6.94</span>
                    </div>
                    <div class="element element--alkali_metals">
                        <span class = "element__atomic__number">11</span>
                        <span class = "element__symbol">Na</span>
                        <span class = "element__atomic__weight">22.990</span>
                    </div>
                    <div class="element element--alkali_metals">
                        <span class = "element__atomic__number">19</span>
                        <span class = "element__symbol">K</span>
                        <span class = "element__atomic__weight">39.098</span>
            
                    </div>
                    <div class="element element--alkali_metals">
                        <span class = "element__atomic__number">37</span>
                        <span class = "element__symbol">Rb</span>
                        <span class = "element__atomic__weight">85.468</span>
                    </div>
                    <div class="element element--alkali_metals">
                        <span class = "element__atomic__number">55</span>
                        <span class = "element__symbol">Cs</span>
                        <span class = "element__atomic__weight">132.91</span>
                    </div>
                    <div class="element element--alkali_metals">
                        <span class = "element__atomic__number">87</span>
                        <span class = "element__symbol">Fr</span>
                        <span class = "element__atomic__weight">(223)</span>
                    </div>
                </div>

                <!-- IIA -->
                <div class="col-1-of-18 height__large">
                    <!-- need one blank element for column -->
                    <div class="blank"></div>
                    <h5 class="family">IIA</h5>
                    <div class="element element--alkali_earth_metals">
                        <span class = "element__atomic__number">4</span>
                        <span class = "element__symbol">Be</span>
                        <span class = "element__atomic__weight">9.0122</span>
                    </div>
                    <div class="element element--alkali_earth_metals">
                        <span class = "element__atomic__number">12</span>
                        <span class = "element__symbol">Mg</span>
                        <span class = "element__atomic__weight">24.305</span>
                    </div>
                    <div class="element element--alkali_earth_metals">
                        <span class = "element__atomic__number">20</span>
                        <span class = "element__symbol">Ca</span>
                        <span class = "element__atomic__weight">40.078</span>
                    </div>
                    <div class="element element--alkali_earth_metals">
                        <span class = "element__atomic__number">38</span>
                        <span class = "element__symbol">Sr</span>
                        <span class = "element__atomic__weight">87.62</span>
                    </div>
                    <div class="element element--alkali_earth_metals">
                        <span class = "element__atomic__number">56</span>
                        <span class = "element__symbol">Ba</span>
                        <span class = "element__atomic__weight">137.33</span>
                    </div>
                    <div class="element element--alkali_earth_metals">
                        <span class = "element__atomic__number">88</span>
                        <span class = "element__symbol">Ra</span>
                        <span class = "element__atomic__weight">(226)</span>
                    </div>
                </div>

                <!-- IIIIB -->
                <div class="col-1-of-18 height__large">
                    <!-- need three blank elements for column -->
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <h5 class="family">IIIIB</h5>
                    <div class="element element--transition_metals">
                        <span class = "element__atomic__number">21</span>
                        <span class = "element__symbol">Ra</span>
                        <span class = "element__atomic__weight">(226)</span>
                    </div>
                    <div class="element element--transition_metals">
                        <span class = "element__atomic__number">39</span>
                        <span class = "element__symbol">Y</span>
                        <span class = "element__atomic__weight">88.906</span>
                    </div>
                    <div class="element">*La</div>
                    <div class="element">+Ac</div>
                </div>

                <!-- IVB -->
                <div class="col-1-of-18 height__large">
                    <!-- need three blank elements for column -->
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <h5 class="family">IVB</h5>
                    <div class="element element--transition_metals">
                        <span class = "element__atomic__number">22</span>
                        <span class = "element__symbol">Ti</span>
                        <span class = "element__atomic__weight">47.867</span>
                    </div>
                    <div class="element element--transition_metals">
                        <span class = "element__atomic__number">40</span>
                        <span class = "element__symbol">Zr</span>
                        <span class = "element__atomic__weight">91.225</span>
                    </div>
                    <div class="element element--transition_metals">
                        <span class = "element__atomic__number">72</span>
                        <span class = "element__symbol">Hf</span>
                        <span class = "element__atomic__weight">178.49</span>
                    </div>
                    <div class="element element--transition_metals">
                        <span class = "element__atomic__number">104</span>
                        <span class = "element__symbol">Rf</span>
                        <span class = "element__atomic__weight">267.12</span>
                    </div>
                </div>

                <!-- VB -->
                <div class="col-1-of-18 height__large">
                    <!-- need three blank elements for column -->
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <h5 class="family">VB</h5>
                    <div class="element element--transition_metals">
                        <span class = "element__atomic__number">23</span>
                        <span class = "element__symbol">V</span>
                        <span class = "element__atomic__weight">50.942</span>
                    </div>
                    <div class="element element--transition_metals">
                        <span class = "element__atomic__number">41</span>
                        <span class = "element__symbol">Nb</span>
                        <span class = "element__atomic__weight">92.906</span>
                    </div>
                    <div class="element element--transition_metals">
                        <span class = "element__atomic__number">73</span>
                        <span class = "element__symbol">Ta</span>
                        <span class = "element__atomic__weight">180.95</span>
                    </div>
                    <div class="element element--transition_metals">
                        <span class = "element__atomic__number">105</span>
                        <span class = "element__symbol">Db</span>
                        <span class = "element__atomic__weight">270.13</span>
                    </div>
                </div>

                <!-- VIB -->
                <div class="col-1-of-18 height__large">
                    <!-- need three blank elements for column -->
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <h5 class="family">VIB</h5>
                    <div class="element element--transition_metals">
                        <span class = "element__atomic__number">24</span>
                        <span class = "element__symbol">Cr</span>
                        <span class = "element__atomic__weight">51.996</span>
                    </div>
                    <div class="element element--transition_metals">
                        <span class = "element__atomic__number">42</span>
                        <span class = "element__symbol">Mo</span>
                        <span class = "element__atomic__weight">95.95</span>
                    </div>
                    <div class="element element--transition_metals">
                        <span class = "element__atomic__number">74</span>
                        <span class = "element__symbol">W</span>
                        <span class = "element__atomic__weight">183.84</span>
                    </div>
                    <div class="element element--transition_metals">
                        <span class = "element__atomic__number">106</span>
                        <span class = "element__symbol">Sg</span>
                        <span class = "element__atomic__weight">269.13</span>
                    </div>
                </div>

                <!-- VIIB -->
                <div class="col-1-of-18 height__large">
                    <!-- need three blank elements for column -->
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <h5 class="family">VIIB</h5>
                    <div class="element element--transition_metals">
                        <span class = "element__atomic__number">25</span>
                        <span class = "element__symbol">Mn</span>
                        <span class = "element__atomic__weight">54.938</span>
                    </div>
                    <div class="element element--transition_metals">
                        <span class = "element__atomic__number">43</span>
                        <span class = "element__symbol">Tc</span>
                        <span class = "element__atomic__weight">96.906</span>
                    </div>
                    <div class="element element--transition_metals">
                        <span class = "element__atomic__number">75</span>
                        <span class = "element__symbol">Re</span>
                        <span class = "element__atomic__weight">186.21</span>
                    </div>
                    <div class="element element--transition_metals">
                        <span class = "element__atomic__number">107</span>
                        <span class = "element__symbol">Bh</span>
                        <span class = "element__atomic__weight">270.13</span>
                    </div>
                </div>

                <!-- Three Columns VIII -->
                <div class="col-1-of-18 height__large">
                    <!-- need three blank elements for column -->
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <h5 class="family">VIII</h5>
                    <div class="element element--transition_metals">
                        <span class = "element__atomic__number">26</span>
                        <span class = "element__symbol">Fe</span>
                        <span class = "element__atomic__weight">55.845</span>
                    </div>
                    <div class="element element--transition_metals">
                        <span class = "element__atomic__number">44</span>
                        <span class = "element__symbol">Ru</span>
                        <span class = "element__atomic__weight">101.07</span>
                    </div>
                    <div class="element element--transition_metals">
                        <span class = "element__atomic__number">76</span>
                        <span class = "element__symbol">Os</span>
                        <span class = "element__atomic__weight">190.23</span>
                    </div>
                    <div class="element element--transition_metals">108</div>
                </div>

                <div class="col-1-of-18 height__large">
                    <!-- need three blank elements for column -->
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <h5 class="family">VIII</h5>
                    <div class="element element--transition_metals">Co</div>
                    <div class="element element--transition_metals">Rh</div>
                    <div class="element element--transition_metals">Ir</div>
                    <div class="element">109</div>
                </div>

                <div class="col-1-of-18 height__large">
                    <!-- need three blank elements for column -->
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <h5 class="family">VIII</h5>
                    <div class="element element--transition_metals">Ni</div>
                    <div class="element element--transition_metals">Pd</div>
                    <div class="element element--transition_metals">Pt</div>
                    <div class="element">110</div>
                </div>

                <!-- Two Columns IB -->
                <div class="col-1-of-18 height__large">
                    <!-- need three blank elements for column -->
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <h5 class="family">IB</h5>
                    <div class="element element--transition_metals">Cu</div>
                    <div class="element element--transition_metals">Ag</div>
                    <div class="element element--transition_metals">Au</div>
                    <div class="blank"></div>
                </div>

                <!-- Two Columns IB -->
                <div class="col-1-of-18 height__large">
                    <!-- need three blank elements for column -->
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <h5 class="family">IB</h5>
                    <div class="element element--transition_metals">Zn</div>
                    <div class="element element--transition_metals">Cd</div>
                    <div class="element element--transition_metals">Hg</div>
                    <div class="blank"></div>
                </div>

                <!-- IIIA -->
                <div class="col-1-of-18 height__large">
                    <!-- need one blank on top and one on bottom for column -->
                    <div class="blank"></div>
                    <h5 class="family">IIIA</h5>
                    <div class="element element--metalloids">B</div>
                    <div class="element element--post_transition_metals">Al</div>
                    <div class="element element--post_transition_metals">Ga</div>
                    <div class="element element--post_transition_metals">In</div>
                    <div class="element element--post_transition_metals">Tl</div>
                    <div class="blank"></div>
                </div>

                <!-- IVA -->
                <div class="col-1-of-18 height__large">
                    <!-- need one blank on top and one on bottom for column -->
                    <div class="blank"></div>
                    <h5 class="family">IVA</h5>
                    <div class="element element--non_metals">C</div>
                    <div class="element element--metalloids">Si</div>
                    <div class="element element--metalloids">Ge</div>
                    <div class="element element--post_transition_metals">Sn</div>
                    <div class="element element--post_transition_metals">Pb</div>
                    <div class="blank"></div>
                </div>

                <!-- VA -->
                <div class="col-1-of-18 height__large">
                    <!-- need one blank on top and one on bottom for column -->
                    <div class="blank"></div>
                    <h5 class="family">VA</h5>
                    <div class="element element--non_metals">N</div>
                    <div class="element element--non_metals">P</div>
                    <div class="element element--metalloids">As</div>
                    <div class="element element--metalloids">Sb</div>
                    <div class="element element--post_transition_metals">Bi</div>
                    <div class="blank"></div>
                </div>

                <!-- VIA -->
                <div class="col-1-of-18 height__large">
                    <!-- need one blank on top and one on bottom for column -->
                    <div class="blank"></div>
                    <h5 class="family">VIA</h5>
                    <div class="element element--non_metals">O</div>
                    <div class="element element--non_metals">S</div>
                    <div class="element element--non_metals">Se</div>
                    <div class="element element--metalloids">Te</div>
                    <div class="element element--post_transition_metals">Po</div>
                    <div class="blank"></div>
                </div>

                <!-- VIIA -->
                <div class="col-1-of-18 height__large">
                    <!-- need one blank on top and one on bottom for column -->
                    <div class="blank"></div>
                    <h5 class="family">VIIA</h5>
                    <div class="element element--non_metals">F</div>
                    <div class="element element--non_metals">Cl</div>
                    <div class="element element--non_metals">Br</div>
                    <div class="element element--non_metals">I</div>
                    <div class="element element--metalloids">At</div>
                    <div class="blank"></div>
                </div>

                <!-- 0 -->
                <div class="col-1-of-18 height__large">
                    <!-- need one blank on the bottom of column-->
                    <h5 class="family">0</h5>
                    <div class="element element--noble_gas">He</div>
                    <div class="element element--noble_gas">Ne</div>
                    <div class="element element--noble_gas">Ar</div>
                    <div class="element element--noble_gas">Kr</div>
                    <div class="element element--noble_gas">Xe</div>
                    <div class="element element--noble_gas">Rn</div>
                    <div class="blank"></div>
                </div>

            </div>
        </div>

        <script
            src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
            crossorigin="anonymous">
        </script>
        <script src = "/js/index.js"></script>
    </body>
</html>