<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
        <link rel = "stylesheet" href = "/css/style.css">
    </head>
    <body>
        <div class="container">
            <div class="row height__full">
                
                <!-- IA -->
                <div class="col-1-of-18 height__large">
                    <h5 class="family">IA</h5>
                    <div class="element alkali__metals">H</div>
                    <div class="element alkali__metals">Li</div>
                    <div class="element alkali__metals">Na</div>
                    <div class="element alkali__metals">K</div>
                    <div class="element alkali__metals">Rb</div>
                    <div class="element alkali__metals">Cs</div>
                    <div class="element alkali__metals">Fr</div>
                </div>

                <!-- IIA -->
                <div class="col-1-of-18 height__large">
                    <!-- need one blank element for column -->
                    <div class="blank"></div>
                    <h5 class="family">IIA</h5>
                    <div class="element">Be</div>
                    <div class="element">Mg</div>
                    <div class="element">Ca</div>
                    <div class="element">Sr</div>
                    <div class="element">Ba</div>
                    <div class="element">Ra</div>
                </div>

                <!-- IIIIB -->
                <div class="col-1-of-18 height__large">
                    <!-- need three blank elements for column -->
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <h5 class="family">IIIIB</h5>
                    <div class="element">Sc</div>
                    <div class="element">Y</div>
                    <div class="element">*La</div>
                    <div class="element">+Ac</div>
                </div>

                <!-- IVB -->
                <div class="col-1-of-18 height__large">
                    <!-- need three blank elements for column -->
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <h5 class="family">IVB</h5>
                    <div class="element">Ti</div>
                    <div class="element">Zr</div>
                    <div class="element">Hf</div>
                    <div class="element">Rf</div>
                </div>

                <!-- VB -->
                <div class="col-1-of-18 height__large">
                    <!-- need three blank elements for column -->
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <h5 class="family">VB</h5>
                    <div class="element">V</div>
                    <div class="element">Nb</div>
                    <div class="element">Ta</div>
                    <div class="element">Ha</div>
                </div>

                <!-- VIB -->
                <div class="col-1-of-18 height__large">
                    <!-- need three blank elements for column -->
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <h5 class="family">VIB</h5>
                    <div class="element">Cr</div>
                    <div class="element">Mo</div>
                    <div class="element">W</div>
                    <div class="element">106</div>
                </div>

                <!-- VIIB -->
                <div class="col-1-of-18 height__large">
                    <!-- need three blank elements for column -->
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <div class="blank"></div>
                    <h5 class="family">VIIB</h5>
                    <div class="element">Mn</div>
                    <div class="element">Tc</div>
                    <div class="element">Re</div>
                    <div class="element">108</div>
                </div>

            
            </div>
        </div>
    </body>
</html>