/* Browser Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: block;
  z-index: 0; }
  .container__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7); }

.height__full {
  height: 100%; }

.height__large {
  height: 90%;
  position: relative;
  top: 5%; }

.hidden {
  display: none; }

.center-text {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }

.element,
.family {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem; }

.element,
.blank {
  height: calc(100% / 8); }

.element {
  font-weight: 900;
  cursor: pointer; }
  .element--non_metals {
    background-color: #c2e812; }
    .element--non_metals:hover {
      transform: scale(0.9);
      color: #FF0000;
      box-shadow: 0 0 15px #FD1C03;
      text-shadow: 0 0 15px #FD1C03; }
  .element--alkali_metals {
    background-color: #ab488a; }
    .element--alkali_metals:hover {
      transform: scale(0.9);
      color: #FFFF00;
      box-shadow: 0 0 15px #F2EA02;
      text-shadow: 0 0 15px #F2EA02; }
  .element--alkali_earth_metals {
    background-color: #8B9EB7; }
    .element--alkali_earth_metals:hover {
      transform: scale(0.9);
      color: #9D00FF;
      box-shadow: 0 0 15px #CC00FF;
      text-shadow: 0 0 15px #CC00FF; }
  .element--transition_metals {
    background-color: #745296; }
    .element--transition_metals:hover {
      transform: scale(0.9);
      color: #4ae252;
      box-shadow: 0 0 15px #09e514;
      text-shadow: 0 0 15px #09e514; }
  .element--post_transition_metals {
    background-color: #86BBD8; }
    .element--post_transition_metals:hover {
      transform: scale(0.9);
      color: #FF6600;
      box-shadow: 0 0 15px #FF3300;
      text-shadow: 0 0 15px #FF3300; }
  .element--metalloids {
    background-color: #33658A; }
    .element--metalloids:hover {
      transform: scale(0.9);
      color: #FFFF33;
      box-shadow: 0 0 15px #FFFF00;
      text-shadow: 0 0 15px #FFFF00; }
  .element--noble_gas {
    background-color: #F26419; }
    .element--noble_gas:hover {
      transform: scale(0.9);
      color: #00FFFF;
      box-shadow: 0 0 15px #099FFF;
      text-shadow: 0 0 15px #099FFF; }
  .element__symbol {
    margin: .5rem; }
  .element__atomic__number, .element__atomic__weight {
    font-weight: 400; }
  .element__data {
    list-style: none;
    text-align: center;
    display: block;
    transform: translateY(3rem);
    font-size: 3.2rem;
    font-family: 'Lato', sans-serif; }
    .element__data li {
      padding: .5rem; }
    .element__data--oxidation-states {
      float: right;
      display: block;
      list-style: none;
      padding: 1rem; }
    .element__data--oxidation-state {
      font-size: 1.6rem; }

.family {
  font-weight: 400; }

.lanthanideseries {
  background-color: orange;
  padding: 12rem 24rem; }

.modal, .modal__spinner {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75%;
  width: 75%;
  background-color: #fff;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: .3rem; }

.modal__icon {
  position: relative;
  font-size: 2.4rem;
  float: right;
  margin: 2rem;
  cursor: pointer; }

.modal__heading {
  font-size: 3.6rem;
  font-family: 'Lato', sans-serif; }

.spinner {
  height: 100vh;
  opacity: 1;
  position: relative;
  transition: opacity linear 0.1s; }
  .spinner::before {
    animation: 2s linear infinite spinner;
    border: solid 3px #eee;
    border-bottom-color: #EF6565;
    border-radius: 50%;
    content: "";
    height: 40px;
    left: 50%;
    position: absolute;
    top: 25%;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: center;
    width: 40px;
    will-change: transform; }

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg); }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg); } }

.fa-atom {
  font-size: 10rem;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
  -webkit-background-clip: text;
  color: transparent;
  animation: 5s linear infinite spinner; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  top: 25%;
  left: 30%; }
  .card__side {
    position: absolute;
    backface-visibility: hidden;
    border-radius: .3rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: all .8s ease;
    height: 20rem;
    width: 20rem; }
    .card__side--back {
      transform: rotateY(-180deg); }
  .card__container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + (2 * 6rem)); }
  .row .col-1-of-18 {
    width: calc(100% / 18); }
