.height__full {
    height: 100%;
}

.height__large {
    height: 90%;
    position: relative;
    top: 5%;
}

.hidden {
    display: none;
}

.center-text {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate((-50%, -50%));
}